.floating404Container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
}

.floating404 {
  position: absolute;
  width: 350px;
  height: auto;
  opacity: 0.3;
  animation: 
    floatRandom 40s infinite ease-in-out,
    rotateRandom 30s infinite linear,
    scaleRandom 16s infinite ease-in-out,
    warpEffect 3s infinite ease-in-out;
  filter: var(--ifm-image-filter);
}

@keyframes floatRandom {
  0% {
    transform: translate(10vw, 10vh);
  }
  25% {
    transform: translate(80vw, 20vh);
  }
  50% {
    transform: translate(70vw, 80vh);
  }
  75% {
    transform: translate(20vw, 70vh);
  }
  100% {
    transform: translate(10vw, 10vh);
  }
}

@keyframes rotateRandom {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes scaleRandom {
  0%, 100% {
    scale: 1;
  }
  25% {
    scale: 1.2;
  }
  50% {
    scale: 0.8;
  }
  75% {
    scale: 1.1;
  }
}

/* Add more floating elements for variety */
.floating404Container::before,
.floating404Container::after {
  content: '';
  position: absolute;
  background-image: url('/img/404.svg');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
  filter: var(--ifm-image-filter);
}

.floating404Container::before {
  width: 250px;
  height: 250px;
  top: 20%;
  left: 10%;
  animation: 
    floatRandom2 50s infinite ease-in-out reverse,
    rotateRandom 40s infinite linear reverse,
    warpEffect 2.5s infinite ease-in-out;
}

.floating404Container::after {
  width: 220px;
  height: 220px;
  top: 60%;
  right: 15%;
  animation: 
    floatRandom3 36s infinite ease-in-out,
    rotateRandom 24s infinite linear,
    warpEffect 4s infinite ease-in-out;
}

@keyframes floatRandom2 {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(60vw, 30vh);
  }
  66% {
    transform: translate(30vw, 60vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes floatRandom3 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-50vw, -40vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes warpEffect {
  0%, 100% {
    filter: var(--ifm-image-filter) blur(0px) saturate(1);
  }
  25% {
    filter: var(--ifm-image-filter) blur(1px) saturate(1.2);
  }
  50% {
    filter: var(--ifm-image-filter) blur(2px) saturate(0.8) hue-rotate(10deg);
  }
  75% {
    filter: var(--ifm-image-filter) blur(1px) saturate(1.1) hue-rotate(-5deg);
  }
}

.starsContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: var(--ifm-color-emphasis-300);
  border-radius: 50%;
  animation: twinkle 2s infinite ease-in-out;
  box-shadow: 0 0 2px var(--ifm-color-emphasis-300);
}

@keyframes twinkle {
  0%, 100% {
    opacity: 0.3;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
}

/* Dark mode specific star colors */
[data-theme='dark'] .star {
  background-color: #ffffff;
  box-shadow: 0 0 3px #ffffff;
}

/* Light mode specific star colors */
[data-theme='light'] .star {
  background-color: #4a5568;
  box-shadow: 0 0 2px #4a5568;
}
